.aboutMeContainer {
  margin-top: calc(var(--nav-height, 100px) + 30px);
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 1rem;
}

.information {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .aboutMeContainer {
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    gap: 2rem;
    padding: 0;
  }

  .aboutMeContainer > *:last-child {
    flex-basis: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
