/* .container {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 1rem;
} */

.priceWapper {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 50px;
  justify-content: space-around;
  margin-top: 5em;
  margin-bottom: 5em;

  flex: 1;
}

.context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .priceWapper {
    flex-direction: column;
  }
}
