.container {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 1rem;
}

.priceWapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3em;
  margin-bottom: 3em;
}
