.container {
  margin-top: calc(var(--nav-height, 100px) + 30px);
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 1rem;
}

.context {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tables {
  display: flex;
  flex-direction: row;
  padding: 3rem;
}
