.priceWapper {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-around;
  margin-top: 5em;
  margin-bottom: 5em;

  flex: 1;
}

.context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desktopTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileTitle {
  display: none;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: -100px;
}

@media (max-width: 768px) {
  .priceWapper {
    flex-direction: column;
  }

  .desktopTitle {
    display: none;
  }

  .mobileTitle {
    display: block;
  }
}
