.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 10px;
}

.imageItem {
  width: 300px;
  height: 400px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 19px;
}
/* 
.imageItem :global(img) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto !important;
  height: auto !important;
} */
