.navigation {
  font-family: "Comfortaa";
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  align-items: center;

  background-color: var(--color-secondary);

  position: fixed;
  top: 0;
  /* padding-top: 0.5em;
  padding-bottom: 0.3em; */
  height: var(--nav-height);
  width: 100%;
  z-index: 1000;
}

.navButton {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 1rem;
  transition: all 0.3s ease;
  color: var(--color-primary);
}

.navButton a {
  text-transform: uppercase;
  text-decoration: none;
}

.navButton:hover {
  color: var(--color-accent-light);
}

.active a {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 600;
  color: var(--color-accent-light);
}

.logoNavButton svg g {
  filter: drop-shadow(0px 0px 3px var(--color-primary));
}

.topNav {
  display: none;
}

.dropdownMenu {
  display: none;
}

/* Show only logo on top for mobile */
@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .topNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-secondary);
    padding: 0.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
  }

  .logoButton {
    background: none;
    border: none;
    cursor: pointer;
  }

  .dropdownMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color-secondary);
    padding: 0.5em 0;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-top: 1px solid var(--color-primary);
  }

  .dropdownItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.2s ease;
  }

  .dropdownItem:hover {
    color: var(--color-accent-light);
  }

  .dropdownItem svg {
    margin-bottom: 0.2em;
  }

  .dropdownItem.active {
    color: var(--color-accent-light);
    font-weight: bold;
  }

  .active a {
    text-decoration: none;
    font-weight: 600;
  }
}
