.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  gap: 30px;
}

.title {
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 3em;
  }
}
