.twoColumnSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 80px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 100px;
}

.reverse {
  flex-direction: row-reverse;
}

.left .right {
  flex: 1;
}

@media (max-width: 768px) {
  .twoColumnSection {
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }
}
