.galleryContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  height: 400px;
  gap: 15px;
  flex: 1 1 50%;
}

.option {
  position: relative;
  flex-grow: 1;
  min-width: 100px;
  border-radius: 20px;
  background-size: auto 120%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.option.active {
  flex-grow: 10000;
  max-width: 600px;
  border-radius: 20px;
  background-size: auto 100%;
}
