.cardContainer {
  background-color: var(--color-accent-light);
  min-width: 400px;
  max-width: 500px;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* border-radius: 2rem; */
  border-radius: 1em;
  box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.4);
}

.banner {
  min-height: 200px;
  position: relative;
}

.title {
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
}

.dataTable {
  display: flex;
  justify-content: center;
  align-items: center;
}
