:root {
  /* --color-primary: #365071;
  --color-secondary: #e56b6f; */
  --color-primary: #f5008a;
  --color-secondary: #fff4b0;
  --color-accent-light: #e4c1f9;
  --color-dark: black;
  --color-light: white;

  --nav-height: 100px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat";
  /* color: var(--color-primary); */
  height: 100%;
  margin: 0;
  padding: 0;
}

/* body {
  background-image: url("/background/cake-dark.svg");
  background-size: cover;
  min-height: 100vh;
} */

h1,
h2 {
  /* font-family: "Chillink"; */
  font-size: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
